<h1> Movie lists</h1>
<h2> <%= link_to "create a movie list", new_list_path %></h2>
<ul>
  <% @lists.each do |list| %>
    <li>
      <%= link_to list.name, list_path(list) %>
    </li>
  <% end %>
</ul>
<%= cl_image_tag("cxbtkhxwlqq4ir6vspas",
      width: 400, height: 300, crop: :fill) %>
